.containerMainIntro img {
    padding-left: calc(150px + 5%);
    width: 100%;
    margin-left: auto;
    z-index: 1;
    overflow: hidden;
}

.content {
    max-width: 800px;
    margin-right: -100%;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)); /* last two characters are for the opacity*/
    backdrop-filter: blur(15px) saturate(1.5);
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    display: flex;
    align-items: center;
}

.content p {
    padding-top: 1em;
}

.containerMainIntro {
    display: flex;
    align-items: center;
    min-height: fit-content;
    max-height: calc(100vh - 100px);
    overflow: hidden;
}