img {
    padding-left: calc(150px + 5%);
    width: 100%;
    margin-left: auto;
    z-index: 1;
    overflow: hidden;
}

.content {
    max-width: 800px;
    margin-right: -100%;
    z-index: 2;
    margin-left: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    display: flex;
    align-items: center;
}

.content > div {
    color: white;
}

.containerMainIntro {
    display: flex;
    align-items: center;
    background-color: #152B32;
    padding-bottom: 40px;
}