#nav {
    height: 80px;
    background-color: #152B32;
    color: gainsboro;
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    transition: transform 0.2s;
    font-size: 1.5em;
}

#subNav {
    margin: 0;
    padding: 0 40px 0 40px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: orange;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.5em;
}

.hidden {
    transform: translateY(-100%);
}