#nav {
    height: 100px;
    background-color: #152B32;
    color: gainsboro;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
    font-size: 2em;
    padding-left: 10px;
}

#subNav {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #0F1D21;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.5em;
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
}

#subNav h2 {
    margin-top: 0.5em;
}

.hidden {
    transform: translateY(-100%);
}