.odometer-inside {
    height: 48px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
}

.odometer-digit,
.odometer-digit-inner,
.odometer-value,
.odometer-formatting-mark {
    line-height: 44px;
    font-size: 40px;
    color: rgb(10, 190, 190);
}

#altitude .odometer-value,
#altitude .odometer-formatting-mark {
    color: #CD8258;
}

.odometer-formatting-mark {
    line-height: inherit;
    display: inline-table;
    vertical-align: middle;
}

.odometer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    color: rgb(10, 190, 190);
}

.odometer-units {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
}

.units {
    margin-left: 10px;
}