.App {
  padding: 0 0 0 7%;
}

header {
  position: sticky;
  top: 0;
  z-index: 9;
}

main {
  min-height: 100vh;
}

p, h1, h2, h3 {
  margin: 0;
  color: white !important; /*TODO: check why the color cannot be overwritten by a class*/
}

.intro {
  min-height: 140px;
  margin-top: 20px;
}

.card {
  padding-top: 12px;
  padding-bottom: 12px;
}

.list, .card {
  background-color: #D2CDCA;
  max-width: max-content;
  min-width: 250px;
  max-height: calc(100vh - 260px); /* 260 = 140 intro + 80 subnav + 40 margin */
  min-height: 220px; /* two items ; and same size as the odometer column */
  margin-right: auto;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  overflow: auto;
  margin-bottom: 0px;
}

.btn-list {
  padding-left: 20px;
}

.icon {
  padding: 40px;
  text-align: center;
}

.mainColumns {
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 80px);/*80 subnav*/
}

.middleCol {
  margin-left: 5%;
  margin-right: 5%;
}

.lastCol {
  margin-right: 7%;
}

span {
  font-size: 1em;
}

.hidden {
  display: none;
}

.tooltip {
  margin-left: 3px;
}