body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 9;
}

main {
  background-color: rgb(240, 240, 240);
  padding-top: 40px;
  min-height: 100vh;
}

p, h1, h2, h3 {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.intro {
  min-height: 140px;
}

.card {
  padding-top: 12px;
  padding-bottom: 12px;
}
.list, .card {
  background-color: white;
  width: max-content;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  max-height: 500px;
  overflow: auto;
  margin-bottom: 40px;
}

.btn-list {
  padding-left: 40px;
}

.icon {
  padding: 40px;
  text-align: center;
}

.mainColumns {
  display: flex;
  justify-content: flex-start;

}

span {
  font-size: 1em;
}

.hidden {
  display: none;
}